@import '../../../../../themes/custom/d9site/scss/var/_var';


.node--type-article.node--view-mode-article-full-01 {
/* begin nested styles */

.field--name-field-article-references {
  h4 {
  margin-bottom: 0;
  }
  li {
    list-style-type: circle;
    padding-left: 1em;
    font-size: $font-size-body;
  }
  .link-title,
  .link-url {
  font-size: $font-size-body;
  }
}


/* /nested */
}



/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.node--type-article.node--view-mode-article-full-01 {
/* begin nested styles */


/* /end nested styles */
}

/* /desktop */
}
