@import '../../../../../themes/custom/d9site/scss/var/_var';

/* basic defaults for theme styling */

.node--type-article.node--view-mode-article-summary {
padding: 1em;
background-color: rgba($color-1, .3);
margin-bottom: $siteg * 2;
border: $stroke-2 solid rgba(transparent, 0);
position: relative;
/* nested */
&:hover {
border-color: rgba($color-1, 1);
h3 {
text-decoration: underline;
}
.button {
background-color: $color-2;
}
}

.node__content {
display: grid;
grid-template-columns: none;
grid-template-rows: auto;
}

.node__content > .title {
grid-column: 1/3;
grid-row: 1/1;
align-self: top;
padding-bottom: $siteg;
text-align: center;
}

.node__content > .title h3 {
margin-bottom: 0;
}

.node__content > .title h3 a:link,
.node__content > .title h3 a:visited {
}

.node__content > .image {
grid-column: 1/1;
grid-row: 2/3;
text-align: center;
}

.node__content > .image img {
width: 60%;
height: auto;
}

.node__content > .image.empty {
}

.node__content > .image.empty span { /* make span a full width square */
  background-color: rgba($color-1, .3);
  display: inline-block;
  width: 60%;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat:no-repeat;
  background-repeat: no-repeat;
  mask-image: $default-image-1x1;
  -webkit-mask-image: $default-image-1x1;
}

.node__content > .image.empty span:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.node__content > .text {
grid-column: 1/1;
grid-row: 3/3;
padding-right: 2em;
text-align: center;
}

.node__content > .text p .button {
font-size: .6em;
margin: .75em 0 0 0;
padding: 0em .5em;
}

/* /nested */
}



/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.node--type-article.node--view-mode-article-summary {

.node__content {
display: grid;
grid-template-columns: 25% auto;
grid-template-rows: auto auto;
}

.node__content > .title {
grid-column: 2/3;
grid-row: 1/2;
align-self: end;
text-align: left;
}


.node__content > .image {
margin-right: $siteg * 2;
grid-column: 1/2;
grid-row: 1/3;
margin-right: $siteg * 2;
}

.node__content > .image img {
width: 100%;
}

.node__content > .image.empty {
}

.node__content > .image.empty span { /* make span a full width square */
  width: 100%;
}

.node__content > .text {
grid-column: 2/3;
grid-row: 2/3;
padding-right: 2em;
text-align: left;
}
}
/********************/
/* /end site layout for desktop screens */
/********************/
}
