@import '../../../../../themes/custom/d9site/scss/var/_var';

.profile--type--author.profile--view-mode--author-byline {
  display:flex;
  align-items: center;
  margin-top: $siteg * 2;
  margin-bottom: 1em;
  padding: .5em;
  background-color: rgba($green, 1);
/* nested */

.profile__content { /* wrapper */
}

.image {
  width: 6.2em;
  flex-shrink: 0;
  align-self: center;
}

.image img {
  width:100%;
  height:auto;
  display:block;
}

.image.empty {
  mask-image: $default-profile-1x1;
  -webkit-mask-image: $default-profile-1x1;
  width: 6.2em;
  height: 6.2em;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: rgba($color-1, 1);
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: $siteg;
  padding-right: $siteg;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.content * {
  margin-bottom: 0;
}

.content h3.author-name {
  margin:0;
  font-size: 12em;
}

.content h3.author-name span {
  opacity: .8;
  display: none;
}

.content h3.author-name span:before {
  content: "-";
}

.content h3.author-name span {
  opacity: .8;
  display: none;
}

.content .short {
  margin:0;
}

/* /nested */
}
