@import '../../../../../themes/custom/d9site/scss/var/_var';


.block-views-blockuser-articles-block-1 {
margin-bottom: $siteg * 2;
}

.profile--type--author.profile--view-mode--default,
.profile--type--author.profile--view-mode--full {
  background-color: rgba($color-1, .25);
  padding: 1em;
  margin-bottom: $siteg * 2;
/* nested */

.profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: auto;
}

.image span.thumb {
  display: block;
  margin: 0 auto;
  width: 12em;
  height: 12em;
}

.image span.thumb.empty {
  mask-image: $default-profile-1x1;
  -webkit-mask-image: $default-profile-1x1;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: $color-1;
}

.text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  border:1px solid #CCC;
  display: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.name h3 {
  margin:0;
  font-size: $font-size-body * 1.2;
}

.short {
  text-align: center;
}

.short p {
  margin:0;
}

.display-link {
  display: none;
}

/* /end - nested */
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.profile--type--author.profile--view-mode--default,
.profile--type--author.profile--view-mode--full {
/* begin nested styles */

.profile__content { /* block wrap sets the display type */
  flex-direction: row;
}

.image {
  padding-right: $siteg * 2;
}

.image img {
  width: 100%;
  height: auto;
}

.image span.thumb {
  margin: 0;
  width: 12em;
  height: 12em;
}

.short {
  text-align: left; 
}

/* /nested */
}
/* /desktop */
}
