@import '../../../../../themes/custom/d9site/scss/var/_var';


.view-id-profiles.view-display-id-user_page .view-content {
display: flex;
flex-direction: column;
}

.view-id-profiles.view-display-id-user_page .view-content > div {
margin-bottom: 1em;
}

/* author teaser */

.profile--type--author.profile--view-mode--teaser  {
  border: $stroke-1 solid rgba($color-1, .5);
  padding: .5em;
/* nested */

.profile__content { /* wrapper */
display:flex;
align-items: center;
}

.image {
  width: 4.5em;
  flex-shrink: 0;
  align-self: center;
  border:1px solid rgba(181, 181, 181, .5);
}

.image img {
  width:100%;
  height:auto;
  display: block;
}

.image.empty {
  width: 4.5em;
  height: 4.5em;
  mask-image: $default-profile-1x1;
  -webkit-mask-image: $default-profile-1x1;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: rgba($color-1, 1);
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: $siteg;
  padding-right: $siteg;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  align-content: center;
  text-align: left;
}

.content * {
  margin-bottom: 0;
}

.content h4.author-name {
  margin:0;
  font-size: $font-size-body * 1.2;
}

.content h4.author-name span {
  opacity: .8;
  display: none;
}

.content .short {
  margin:0;
}


ul.actions {
margin: 0;
padding-right: $siteg * 2;
display: flex;
flex-basis: 25%;
justify-content: flex-end;
justify-items: center;
}

.actions li {
}

.actions a {
padding: .5em 1em;
background-color: rgba($gray, .25);
border-radius: .4em;
text-decoration: none;
}

.actions a:hover {
background-color: rgba($green, .25);
}


/* /nested */
}
