@import '../../../../../themes/custom/d9site/scss/var/_var';

/* it turns off the standard page title when using this display */
.page-title.block-page-title-block {
display: none;
}

/* article header styles */

.view-id-article_header.view-display-id-article_header_02 {
  margin-right:-$m-pagep;
  margin-left:-$m-pagep;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: $siteg * 4;
/* nested */

.view-content { /* flex wrapper */
position: relative;
}

.title {
position: absolute;
bottom: 0;
width: 100%;
padding-left: $m-pagep;
}
.title h1 {
text-align: left;
}

.image {
}

.image img {
display: block;
}


/* /nested */
}

/* ***************************************** */
@media all and (min-width: 768px) { /* page layout for desktop screens */

.view-id-article_header.view-display-id-article_header_02 {
  margin-right:-$d-pagep;
  margin-left:-$d-pagep;
  padding-right: 0;
  padding-left: 0;
/* nested */

.view-content { /* flex wrapper */
}

.title {
padding-left: $d-pagep;
}

/* /nested */
}

/* /page layout for desktop screens */
}
