{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - view_mode: The profile view mode used.
 * - profile: The profile object.
 * - url: The profile URL, if available.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'profile',
  'profile--' ~ profile.id,
  'profile--type--' ~ profile.bundle|clean_class,
  profile.isDefault() ? 'profile--is-default',
  view_mode ? 'profile--view-mode--' ~ view_mode|clean_class,
  'clearfix',
]
%}
{{ attach_library('d9site_articles/author-teaser') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
<div class="profile__content">
<div class="image{% if profile.field_author_image.isempty %} empty{% endif %}">
{{ content.field_author_image }}
{# /image #}
</div>
<div class="content">
<h4 class="profile-name"><span>{{ content.field_author_name.0 }}</span></h4>
<div class="short">{{ content.field_author_short.0 }}</div>
<div class="link">{{ content.field_author_link.0 }}</div>
{# /content #}
</div>
<ul class="actions">
<li><a href="/profile/{{ profile.id }}/edit">Edit Profile</a></li>
{# <li><a href="/profile/{{ profile.id }}/delete">Delete Profile</a></li> #}
{# {{ user }} and {{ uid }} are available from module function #}
{# /actions #}
</ul>
{# /profile__content #}
</div>
{# <a class="display-link" href="{{ url }}">&nbsp;</a> #}
{# /profile #}
</div>
