{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - view_mode: The profile view mode used.
 * - profile: The profile object.
 * - url: The profile URL, if available.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'profile',
  'profile--' ~ profile.id,
  'profile--type--' ~ profile.bundle|clean_class,
  profile.isDefault() ? 'profile--is-default',
  view_mode ? 'profile--view-mode--' ~ view_mode|clean_class,
  'clearfix',
]
%}
{{ attach_library('d9site_articles/author-full') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
<div class="profile__content">
{% if content.field_author_image.0 %}
<div class="image">
<span class="thumb">
{{ content.field_author_image.0 }}
</span>
{# /image #}
</div>
{% else %}
<div class="image">
<span class="thumb empty profile">&nbsp;</span>
{# /image #}
</div>
{% endif %}


<div class="text">

<div class="name">
<h3>{{ content.field_author_name.0 }}</h3>
{# /name #}
</div>

<div class="short body-copy">
{{ content.field_author_short.0 }}<br> <a class="button" title="{{ content.field_author_name.0 }} website" href="{{ content.field_author_link.0['#url'] }}">{{ content.field_author_link.0['#title'] }}</a>
{# /short #}
</div>
{# /name #}
</div>

{# /profile__content #}
</div>
{# /profile #}
</div>
